
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  background-color: #000000;
}
.card{
//background-color: #161616;
//
// background-image:
// linear-gradient(
//         45deg,
//         rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
//     ),
//     linear-gradient(
//         -45deg,
//         rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
//     );

  border-style: none;
  color: #FFF;
  background: #222222;
  text-align: center;
  padding: 30px 0px 50px 0px;
  background-image: linear-gradient(45deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 50%), linear-gradient(-45deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 50%);
  background-position: bottom center, bottom center;
  background-size: 30px 30px, 30px 30px, 30px 30px, 30px 30px;
  background-repeat: repeat-x;
  margin: 0;
}



span{
  color: #7CAAAA;
}


img {
  max-width: 100%;
  margin-left: 60%;
}
.container{
  width:1103px;
  padding: 0;
  height: 459px;
  text-align: center;
  border: 1px solid #000000;
  background-color:#FFFFFF;
  margin: auto;

}

#name{
  text-align: center;
  color: #FFFFFF;
}
img{
  border-radius: 50%;
  width: 110px;
  height: 110px;

}
.col-md-12{
  margin: 0;
}
.col-md-4{
  margin-top:10%;
}
h2{
  color: #000000;
}
.biopic{
  margin-top:5%;
  margin-right: 5%;
}
.story{
  margin-left:20%;

}
.info{
  color: #000000;
  text-align: left;
  padding-left: 30%;
}
.stories{
    border-left: 1px solid grey;
}
